language: node_js
udo: required
services: 
    - docker

before_install:
    - docker build  -t crownley/docker-react -f Dockerfile.dev .

script:  
    - docker run -e CI=true crownley/docker-react npm run test